<!DOCTYPE html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='normalize.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='additional.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>stock</title>
</head>
<body>
	<div class="content-body">
		<div class="form-wrapper">
			<form class="bg-white">
				<h1 class="text-title">Register your account</h1>

				<form action="" method="POST">
				<div class="form-group">
					<label class="label" for="txt-username">Username</label>
					<input type="text" name="username" class="form-control" value={{request.form.username}}>
				</div>

				<div class="form-group">
					<label class="label" for="txt-email">Email address</label>
					<input type="email" name="email" class="form-control" value={{request.form.email}}>
				</div>

				<div class="form-group">
					<label class="label" for="txt-password">Password</label>
					<input type="password" name="password" class="form-control" value={{request.form.password}}>
				</div>

				
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Sign Up</button>				
				</div>
			</form>

			
		</div>
	</div>

	
	<footer>
		
	</footer>

</body>

</html>
