<!DOCTYPE html>
<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="additional.css">
<link rel="stylesheet" href="style.css">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>stock</title>
</head>
<body>
	<div class="content-body">
		<div class="form-wrapper">
			<form class="bg-white">
				<h1 class="text-title">Login to your stock page</h1>
				<div class="field-group">
					<label class="label" for="txt-email">Email address</label>
					<input class="input" type="text" id="txt-email" name="email"/>
				</div>
				<div class="field-group">
					<label class="label" for="txt-password">Password</label>
					<input class="input" type="password" id="txt-password" name="password"/>
					<a href="#forgot" class="link-forgot">Forgot?</a>
				</div>

				<div class="field-group">
					<button  class="btn-submit" onclick="location.href='homepage_user.html'" type="button">Log In</button>					
				</div>
			</form>

			<div class="bg-grey">
				<button onclick="location.href='register.html'" type="button">Sign Up</button>					
			</div>
		</div>
	</div>

	
	<footer>
		
	</footer>

</body>

</html>
